@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


.mainContainer{
    width: 99.5vw;
    height: 94vh;
    background-color: #F2EDDA;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    
    border-style: dashed;
    border-color: red;
}

.mainContainer h1{
    color:#353935	;
    
    font-family: "Permanent Marker", serif;
    font-weight: 400;
    font-style: normal;
}

.mainContainer img{
    color: #28282B;
    width: 400px;
    height: 500px;
}

.heroText{
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

