

.mainContainer{
    width: 99.5vw;
    height: 94vh;
    background-color: #F2EDDA;

    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;

    
    border-style: dashed;
    border-color: red;
}




