

.mainContainer{
    width: 99.5vw;
    height: 94vh;
    background-color: #F2EDDA;

    display: flex;
    justify-content: center;
    
    /*
    border-style: dashed;
    border-color: red;
    */
}




